{% include 'header-index.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-lg-12 text-center">
      <img class="mini-logo" src="static/images/vault2.png">
      <h2>User login</h2>
      <div class="col-lg-12 text-start form-column" style="color:white">
          {{ form.hidden_tag() }}

          {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}

      </div>
        <br>
        <br>
      <div>
          <h3>Don't have an account?</h3>
          <a class="btn btn-primary btn-block" href="{{ url_for('register') }}">Register new account</a>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}